/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }


  body {
    overflow-x: hidden;
  }



  #landing {
  background-color: #c8a676;
 
  }

  nav {
    background-color: #a67c52;
    font-weight: bold;
  }

  .profile {
    border-radius: 50%;
  }

  #projects {
    background-color: #ffedcb;
  
  }

  h1 {
    font-weight: bold;
    color: #504538;
    text-align: center;
  }

  #title-project,  #title-tools, #title-contact{
    padding-top: 7rem;
  }

#contact {
    background-color: #ffedcb;
  
  }


  #tools img {
    max-width: 80px;
    height: auto;
  }


#button {
  background: #a67c52;
  font-family: "Albert Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  transition: background-color 0.3s ease;
}

#footer{
  background: #c8a676;
  font-family: "Albert Sans", sans-serif;
  text-align: center;
  color: #3e2d1a;
}
  

.card-custom {
  max-width: 18rem;
  width: 100%;
}


.map-frame {
  border: 0;
}